<div class="container">
    <h2>Career Guidance System</h2>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="Enter Name" />
  
      <label for="address">Address:</label>
      <input type="text" formControlName="address" placeholder="Enter Address" />
  
      <label for="education">Education:</label>
      <select formControlName="education">
        <option value="10th">10th</option>
        <option value="12th">Diploma</option>
        <option value="12th">12th</option>
        <option value="Graduation">Graduation</option>
      </select>
  
      <label for="category">Interested Category:</label>
      <select formControlName="category">
        <option *ngFor="let path of careerPaths" [value]="path.category">
          {{ path.category }}
        </option>
      </select>
    <button type="submit" >Submit</button>
  </form>

  <div *ngIf="selectedCareerPath">
    <h3>Career Path for {{ selectedCareerPath.category }}</h3>
    <p>{{ selectedCareerPath.path }}</p>
    <h4>Opportunities:</h4>
    <ul>

      <li *ngFor="let opp of selectedCareerPath.opportunities">
        <strong>Title:</strong> {{ opp.title }} <br>
        <strong>Description:</strong> {{ opp.description }} <br>
        <strong>Exams Required:</strong>
        <ul>
          <li *ngFor="let exam of opp.exams_required">{{ exam }}</li>
        </ul>
        <strong>Specializations:</strong>
        <ul>
          <li *ngFor="let specialization of opp.specializations">{{ specialization }}</li>
        </ul>
        <strong>Other Details:</strong>
        <ul>
          <li *ngFor="let detail of opp.other">{{ detail }}</li>
        </ul>
      </li>

      
    </ul>
    
  </div>
</div>

  
  